.title {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 20px;
    font-family:  'Trebuchet MS', sans-serif;
}

.container  {
    display: grid;
        grid-template: 30% 70% / 20% 80% 10;
        margin-right: 100px;
        justify-items: left;
        padding: 1rem;}

.Img {
    position: relative;
    border-radius: 40px;
    grid-area: 1/3;
    justify-items: center;
    align-items: center;
    margin: 2px;
    box-shadow: 0 4px 0px 0 rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    }


p {
   font-family:  'Trebuchet MS', sans-serif;
    font-size: 21px;
    padding: 5px;
    color: white;
    align-content: left; 
}

.bio {
    grid-area: 1/2;
    margin-right: 30px;
    align-self: flex-start;
    padding: 30px;
    text-align: center;
}

.porfolio {
    grid-area: 3/3;
    font-size: 20px;
    color: black;
    justify-content: center;
    font-family:  'Trebuchet MS', sans-serif;
    text-align: center;
}

@media (min-width: 100px) and (max-width: 400px) {
    .container {
        display: grid;
        grid-template: 80% 20%/ 1fr;
        justify-content: center;
        padding: 0% 0% 0% 4rem;
           }

    .bio {
        grid-area: 1/1/1/2;
        padding: 0%;
        width: 10rem;
        text-align: right;
    }
    
    .bio2 {
        grid-area:1/2;
        align-self: flex-end;
        text-align: right;
    }

    .porfolio {
        grid-area: 2/2;
        font-size: 20px;
        color: rgb(255, 255, 255);
        justify-content: center;
        align-items: end;
        background-color: black;
    }

    .Img {
        border-radius: 40px;
        grid-area: 1/2;
        justify-items: center;
        align-items: center;
        margin: 0px;
        width: 10rem;
        height: 10rem;
    }


}