.containerSearch {
    display: grid;
    grid-template: 80px/ 40% 60%;
    justify-content: center;
    align-items: center;
    padding: 1px;
    margin: 40px;
    background-color: transparent;
    width: 100%;
    
}

.logo {
    width: 400px;
    transition: filter 0.3s ease-in-out; /* Agrega una transición suave */
    margin-right: 40px;
    grid-area: 1/1;
    justify-content: center;
  }
  
  .logo:hover {
    filter: brightness(4.2); /* Aumenta el brillo de la imagen */
  }

.containerInput {
    display: grid;
    grid-template: 1fr/10% 90%;
    margin-left: 0%;
    background-color: transparent;
    justify-content: right;
    
}

.look {
    background-color: transparent;
    width: 60px;
    font-size: 45px;
    align-items: center;
    
}

.input {
    grid-area: 1/2;
    border-radius: 15px;
    
    width: 250px;
    height: 2.2em;  
    padding-left: 1%; 
    font-size: 18px;
    align-items: center;
    background-color: white;
    justify-content: center;
    
}

.btnL {
    grid-area: 1/1;
    cursor: pointer;
    background-color: transparent;
    border: none;
     }

@media (min-width: 400px) and (max-width: 600px) {
    .containerSearch {
        display: grid;
        grid-template: 1fr 1fr 1fr/ 1fr;
        justify-content: center;
        margin-bottom: 0%;
        padding-top: 5px;
        background-color: transparent;
    }

    .logo {
        width:100%;
        background-color: transparent;
        grid-area: 2/1;
    }

    .containerSearch {
        grid-area: 3/1;
        align-items: center;
        margin: 1% 0% 0% 20%;
        background-color: transparent;
        width: 100px;
    }  
    
}

@media (min-width: 100px) and (max-width: 400px) {
    .containerSearch {
        display:flex ;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0%;
        padding: 5px;
        background-color: transparent;
    }

    .logo {
        width:100%;
        background-color: transparent;
        justify-content: right;
    }

    .containerSearch {
    
        justify-content: center;
        margin: 1% 0% 0% 20%;
        background-color: transparent;
        width: 100px;
    }  
    
}