.containerSearch {
    display: grid;
    grid-template: 80px/ 40% 60%;
    justify-content: center;
    align-items: center;
    padding: 1px;
    margin:  2rem 0px 0px 3rem;
    background-color: transparent;
    width: 100%;
    
}

.logo {
    width: 400px;
    transition: filter 0.3s ease-in-out; /* Agrega una transición suave */
    margin-left: 60px;
    grid-area: 1/1;
    justify-content: center;
  }
  
  .logo:hover {
    filter: brightness(200%);
  }

.containerInput {
    display: grid;
    grid-template: 1fr/10% 90%;
    margin-left: 0%;
    background-color: transparent;
    justify-content: right;
    
}

.look {
    background-color: transparent;
    width: 80px;
    font-size: 50px;
    align-items: center;
}


.look:hover {
    filter: contrast(200%); 
    transform: scale(1.2);
  }


.input {
    grid-area: 1/2;
    border-radius: 15px;
    width: 290px;
    height: 2.2em;  
    margin-left: 25px; 
    font-size: 20px;
    align-items: center;
    background-color: white;
    justify-content: center;
    
}

.btnL {
    grid-area: 1/1;
    cursor: pointer;
    background-color: transparent;
    border: none;
     }

@media (min-width: 200px) and (max-width: 600px) {
    .containerSearch {
        grid-template: 40% 60%/ 1fr;
        justify-content: center;
        margin:  0%;
        background-color: transparent;
        align-items: end;
    }

    .logo {
        width:18rem;
        background-color: transparent;
        
        
    }

    .containerSearch {
        
        align-items: center;
        justify-content: center;
        margin: 0% 0% 0% 25%;
        background-color: transparent;
        width: 200px;
    }  
    
}

