.container {
    align-items:center;
    justify-content: right;
    gap: 4px;
    padding: 5px;
    margin: 0px;
    background-color: transparent;
}

.btn{
    height: 40px;
    width: 90px;
    margin:  10px 20px 10px 10px;
    background-color: white;
    border-radius: 12px;
    font-size: 20px;
    align-content: center;

}

@media (min-width: 400px) and (max-width: 700px) {
    .btn{
        height: 40px;
        width: 60px;
        margin:  10px 20px 10px 10px;
        background-color: white;
        border-radius: 12px;
        font-size: 12px;
        align-content: center;
    
    }
}

