.container {
    background-size: cover;
  background-repeat: no-repeat;
  height: 300vh;
  background: linear-gradient(109.6deg, rgb(9, 9, 121) 11.2%, rgb(144, 6, 161) 53.7%, rgb(0, 212, 255) 100.2%);
  border: none;
  justify-items: center;
  padding: 10px;
}



@media (min-width: 400px) and (max-width: 700px) {
  .container { 
     width:100%;
     padding: 60px;
     justify-content: center;
  }
}