.container {
    text-align: right;
    margin-right: 30%;
    padding-top: 10%;
    background-color: transparent;
    font-size: 2rem;
}



.label {
    color: white;
    font-size: 2rem;
    margin-right: 5px;
    background-color: transparent;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    background-color: white;
    font-size: 2rem;
    border-radius: 12px;
}

input {
    font-size: 2rem;
    width: 10em;
    border-radius: 12px;
}
