.container {
    text-align: center;
    padding-top: 10%;
    background-color: transparent;
    font-size: 2rem;
    
    
}



.label {
    color: white;
    font-size: 2rem;
    background-color: transparent;
   
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    background-color: white;
    font-size: 2rem;
    border-radius: 12px;
    
}

input {
    font-size: 1.5rem;
    width: 350px;
    border-radius: 12px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    margin: 10px;
    
}

@media (min-width: 400px) and (max-width: 700px) {
    .container { 
       width:100%;
       justify-content: center;
    }
  }
