.title {
    text-align: center;
    font-size: 3rem;
    color: white;
    margin: 20px;
}

.container  {
    display: grid;
        grid-template: 30% 40% 30% / 20% 80%;
        margin: 20px;
        justify-items: left;
}

.Img {
    border-radius: 40px;
    grid-area: 1/1/3/1;
    justify-items: center;
    align-items: center;
    margin: 40px;
}

p {
   
    font-family:  'Arial Narrow Bold', sans-serif;
    font-size: 21px;
    padding: 5px;
    color: white;
    align-content: left;
    
}

.bio {
    grid-area: 2/2;
}

.bio2 {
    grid-area: 1/2;
    align-self: flex-end;
}

.porfolio {
    grid-area: 3/2;
    font-size: 32px;
    color: black;
    justify-content: center;
    margin-right: 30px;
}

@media (min-width: 400px) and (max-width: 700px) {
    .container {
        display: grid;
        grid-template: 40% 60%/ 40% 60%;
        justify-content: center;
        margin-bottom: 0%;
        padding-top: 5px;
        background-color: transparent;
    }

    .bio {
        grid-area: 2/2;
    }
    
    .bio2 {
        grid-area: 1/2;
        align-self: flex-end;
    }

    .porfolio {
        grid-area: 2/1;
        font-size: 32px;
        color: black;
        justify-content: center;
        margin: 30px;
    }


}